*,
*::before,
*::after  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive important!;
  color: white important!;

}

nav ol ul li  {
  list-style-type: none;
}

:root {
  --info: #17a2b8;
  --mainBlue: #2a2a72;
  --greyBackground: #141414;
}

/* END OF CSS RESET */


/*
=============== 
BODY
===============
*/
body {
}

/*
==================== 
CONTAINERS AND CARDS
====================
*/
#medicineContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 5px;
  width: 100vw;
  max-width: 450px;
  margin-right: 5px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
/*   background: linear-gradient(180deg, #C68866 1.56%, rgba(255, 255, 255, 0) 100%), #CC8B8C;*/  
  background-color: #0f523d80;
  box-shadow: 0px 4px 10px 3px #1f7a8c, inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

#cardColor{
  /*   background-color: red;*/  
  border-radius: 20px;
  background-color: #0f523d80;
  box-shadow: 0px 4px 10px 3px #1f7a8c, inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  #editContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  #addMedContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
  
  }

  /*
=============== 
BUTTONS
===============
*/

button {
  color: white;
  background-color: #1da076;
  border-radius: 7px;
  box-shadow: 0px 3px 5px 1px #1f7a8c, inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
}
#addMedBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#editMedicine {
  font-size: 20px;

}
#editButton{
margin-bottom:10px;
margin-right:15px;
}

#deleteButton{
  margin-bottom:10px;
  margin-right:15px;
}


/*
=============== 
HEADINGS AND INPUT
===============
*/
#medicineLog {
  text-align: center;
}

label {
  margin-right: 1rem;
}

input {
  font-size: 12px;
  min-width: 600px;
  border: none;
}






#bikeImg {
  min-width: 400px;
}