#timerContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
    width: 40vw;
    max-width: 200px;
    max-height: 200px;
    font-family: 'Comfortaa', cursive important!;
    margin-right: 5px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(
        180deg,
        rgba(181, 255, 252, 0.3) 0%,
        rgba(255, 255, 255, 0) 50%
      ),
      rgba(31, 122, 140, 0.3);
  
    box-shadow: 0px 4px 10px 3px #1f7a8c, inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  
  .timerTitle {
    color: white;
  }
  